header {
  background-color: #1a120b;
  border-bottom: 10px solid #000;
  border-width: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

nav {
  text-align: right;
}

a {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-family: "Fira Code", Arial, Helvetica, sans-serif;
  font-weight: 500;
  margin-right: 30px;
}

#button {
  display: inline-block;
  background-color: #d5cea3;
  height: 60px;
  line-height: 60px;
  box-shadow: 5px 5px 0px #000;
  padding: 18 px 20 px;
  transition: transform 100ms linear;
}

a:before {
  content: "";
  background-color: #d5cea3;
  width: 10px;
  height: 10px;
  margin-right: 10px;
}

#button:hover {
  background-color: #e19898;
  transform: scale(1.06);
}

h1 {
  text-shadow: 5px 5px 0px #000;
  color: #fff;
  font-size: 25px;
  font-family: "Fira Code", Arial, Helvetica, sans-serif;
}
